body {
    background-color:snow;
    font-family: Arial, Helvetica, sans-serif;
    color: #8e3763;
}
h1 {
    font-size: 42px;
    font-family: Georgia, serif;
    text-align:center;
}
h2 {
    font-size: 20px;
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.5;
}
img {
  display:block;
  margin:auto;
  border: 10px dotted #8e3763;
  border-radius: 35px;
  padding: 15px;
}
p {
    font-size: 16px;
    text-align: left;
    padding: 10px;
    line-height: 1.5;
}
ul {
    font-size: 16px;
    list-style-position: inside;
    text-align: left;
    line-height: 1.5;
    color: #8e3763;
    font-style:italic;
}
blockquote {
    font-size: 16px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    line-height: 1.5;
    color: #ffd4ef;
    font-style:italic;
    text-align: right;
    border-radius: 10px;
    border: none;
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: content-box;
}
.btn{
    background-color: #8e3763;
    color: #ffd4ef;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    margin: auto 0;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s;
}
.btn:hover {
background-color: snow;
    color: #8e3763;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    margin: auto 0;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transform: scale(1.1);
}
    a {
        color: #8e3763;
        text-decoration: none;
        transition: all 0.3s;
        
}
a:hover {
    background-color: #8e3763;
    font-size: 20px;
    color: #ffd4ef;
    margin: 10px;
    border:none;
    padding: 5px;
    border-radius: 15px;
    transform: scale(1.1);
}
#poem {
    background-color: #8e3763;
    border: none;
    padding: 15px;
    border-radius: 35px;
    margin-left: 1000px;
}
div {
    background-color:#ffd4ef;
    border: none;
    padding: 15px;
    border-radius: 35px;
    margin-top: 30px;
}
#page-title {
    background-color:#DAC0A2;
    border: none;
    padding: 10px;
    border-radius: 35px;
    margin-left: 200px;
    margin-right: 200px;
}
.highlight {
    background-color:snow;
    border: none;
    padding: 10px;
    border-radius: 35px;
    margin-left: 150px;
    margin-right: 150px;
}